#b-download {
  margin-top: 3px;
  /* display: none; */
}
/*
.unlock #b-download {
  display: inherit;
}
*/


#b-unlock {
  margin-top: 4px;
  display: inherit;
  width: 22px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
  /* display: none; */
}
#b-unlock:hover {
  color: #FA0;
}


/*
.unlock #b-unlock {
  display: none;
}

@media only screen and (max-width: 961px), only screen and (max-device-width: 961px) {
  #b-unlock {
    display: block;
  }
}
*/

/* Style hah */
#pageflip-controls {
  background: rgba(50, 161, 216, 0.7);  
}


