/* MAIN STYL ======================================= */
/* import global styl */
img {
  border: none;
  max-width: 100%;
  height: auto;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.show {
  display: block;
}
.desktop-hide {
  display: none;
}
.desktop-show {
  display: block;
}
section {
  max-width: 1440px;
  margin: 0 auto;
}
section#book {
  max-width: 100%;
  width: 100%;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.section-row {
  width: 100%;
  position: relative;
  clear: both;
}
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
}
h4 {
  font-size: 14px;
  color: #fff;
  font-weight: 100;
  opacity: 0.5;
}
#bookselector {
  text-align: center;
}
#bookselector ul li {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  margin-right: 16px;
}
#pageflip {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
/* import all sections styl */
#main-nav {
  background: #fff;
  padding: 50px 0;
}
#main-nav .big-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
/* NAV ITEM ======== */
/* NAV ITEM - HOVER ======== */
}
#main-nav .big-nav a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 18%;
}
#main-nav .big-nav .big-nav__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
#main-nav .big-nav .big-nav__item .big-nav__item--icon {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #3797dd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-nav .big-nav .big-nav__item .big-nav__item--icon i {
  font-size: 30px;
  color: #3797dd;
}
#main-nav .big-nav .big-nav__item .big-nav__item--name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #40404c;
  margin-top: 20px;
}
#main-nav .big-nav .big-nav__item .big-nav__item--line {
  width: 70px;
  height: 3px;
  background: #3797dd;
  margin: 20px 0;
}
#main-nav .big-nav .big-nav__item .big-nav__item--desc {
  font-size: 13px;
  color: #7e7e88;
}
#main-nav .big-nav .big-nav__item:hover {
  background: #3797dd;
}
#main-nav .big-nav .big-nav__item:hover .big-nav__item--icon {
  border: 2px solid #fff;
}
#main-nav .big-nav .big-nav__item:hover .big-nav__item--icon i {
  color: #fff;
}
#main-nav .big-nav .big-nav__item:hover .big-nav__item--name,
#main-nav .big-nav .big-nav__item:hover .big-nav__item--desc {
  color: #fff;
}
#main-nav .big-nav .big-nav__item:hover .big-nav__item--line {
  background: #fff;
}
#contact div,
#contact p,
#contact span {
  color: #898989;
}
#contact a {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#contact a:hover {
  color: #3797dd;
}
#contact i {
  width: 30px;
  text-align: center;
  margin-right: 10px;
  color: #3797dd;
  font-size: 16px;
}
#contact .contact-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  background: #151f2b;
  padding-top: 100px;
}
#contact .contact-top {
  padding-bottom: 30px;
  font-size: 14px;
}
#contact .contact-top .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#contact .contact-top .about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
}
#contact .contact-top .about .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 20px;
}
#contact .contact-top .about .info .info-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 30px;
}
#contact .contact-top .about ul {
  padding-top: 20px;
}
#contact .contact-top .contacts .contacts__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 30px;
}
#contact .contact-top .contacts .contacts__item .contacts__item--image {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 3px solid #fff;
  background-size: 100px;
  margin-right: 10px;
}
#contact .contact-top .contacts .contacts__item .contacts__item--image.anamarija {
  background: url("img/anamarija.png") no-repeat center;
}
#contact .contact-top .contacts .contacts__item .contacts__item--image.meri {
  background: url("img/meri.png") no-repeat center;
}
#contact .contact-top .contacts .contacts__item .contacts__item--content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
}
#contact .contact-top .contacts .contacts__item .contacts__item--content .contacts-name {
  text-transform: capitalize;
  font-size: 16px;
  padding-bottom: 16px;
  color: #fff;
}
#contact .contact-top .contacts .contacts__item .contacts__item--content span {
  color: #3797dd;
  min-width: 45px;
  display: inline-block;
}
#contact .contact-bot {
  background: #0c1218;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
#contact .contact-bot .copyright-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
}
#contact .contact-bot .copyright-wrap .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#contact .contact-bot .copyright-wrap .social a:hover i {
  color: #fff;
}
#contact .contact-bot .copyright-wrap .social a i {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 16px;
}
#contact .contact-bot .copyright-wrap .copyright {
  font-size: 14px;
  color: #40404c;
}
html,
body,
div,
table,
p,
input {
  color: #40404c;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #fff;
}
