/* MAIN STYL ======================================= */
/* import global styl */
body {
  font-size: 13px;
  padding: 0;
  margin: 0;
}
img {
  border: none;
  max-width: 100%;
  height: auto;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.show {
  display: block;
}
.hide {
  display: none !important;
}
.desktop-hide {
  display: none;
}
.desktop-show {
  display: block;
}
section {
  margin: 0 auto;
}
section#book {
  max-width: 100%;
  width: 100%;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.section-row {
  width: 100%;
  position: relative;
  clear: both;
}
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 18px;
  color: #32a1d8;
  font-weight: 300;
  padding-bottom: 20px;
}
h4 {
  font-size: 14px;
  color: #fff;
  font-weight: 100;
  opacity: 0.5;
}
.btn,
margin: 0 auto,
padding: 5px 20px,
border: 1px solid colorBlue,
color: colorBlue,
background: colorWhite,
font-size: 14px,
font-weight: 100,
transition(.7s),
:hover,
background: colorBlue,
color: colorWhite,
#bookselector {
  text-align: center;
}
#bookselector ul li {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  margin-right: 16px;
}
#pageflip {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
/* import all sections styl */
#top-nav {
  position: relative;
  width: 100%;
  min-height: 80px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 10;
}
#top-nav .logo-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#top-nav .logo-wrap .company-logo {
  position: relative;
  width: 90px;
}
#top-nav .logo-wrap .top-nav {
  height: 40px;
}
#top-nav .logo-wrap .top-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#top-nav .logo-wrap .top-nav ul li {
  height: 100%;
}
#top-nav .logo-wrap .top-nav a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  color: #40404c;
  background: #fff;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease;
  height: 100%;
}
#top-nav .logo-wrap .top-nav a:hover,
#top-nav .logo-wrap .top-nav a.active {
  color: #fff;
  background: #32a1d8;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -ms-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
#pf-stage {
  background: #32a1d8 !important;
}
#pageflip {
  flex-grow: 1;
  height: 100vh;
}
.book-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  background: #32a1d8;
}
#bookselector {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 280px;
  flex-shrink: 0;
}
#bookselector ul.shelf {
  padding-bottom: 30px;
}
#bookselector ul.shelf::after {
  display: block;
  content: '';
  width: 260px;
  height: 40px;
  background: url("../img/bookshelf2.png") no-repeat center;
  background-size: 260px;
}
#bookselector .shelf li {
  display: inline-block;
  width: 100px;
  height: 150px;
  margin: 0 10px -20px 10px;
  background: url("../img/books/book.png") no-repeat bottom;
  background-size: 80px !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  color: #fff;
}
#bookselector .shelf li:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#bookselector .shelf li.book1 {
  background: url("../img/books/kako-do-gosta.png") no-repeat bottom;
}
#bookselector .shelf li.book2 {
  background: url("../img/books/kako-urediti-apartman.png") no-repeat bottom;
}
#bookselector .shelf li.book3 {
  background: url("../img/books/mvp.png") no-repeat bottom;
}
#bookselector .shelf li.book4 {
  background: url("../img/books/vodic.png") no-repeat bottom;
}
.last-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}
.last-page .last-page-wrap {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}
.newsletter {
  position: relative;
  margin-bottom: 70px;
  width: 250px;
}
.newsletter .newsletter__text {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 10px;
}
.newsletter .newsletter__input input {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}
.newsletter .newsletter__input input[type="text"] {
  background: #fff;
  border: 1px solid #fff;
  color: #7e7e88;
  width: 180px;
  margin-right: 5px;
}
.newsletter .newsletter__input input[type="button"] {
  background: #6abf21;
  border: 1px solid #6abf21;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.newsletter .newsletter__input input[type="button"]:hover {
  border: 1px solid #fff;
}
#main-nav {
  background: #fff;
  padding: 50px 0;
}
#main-nav .big-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-around;
/* NAV ITEM ======== */
/* NAV ITEM - HOVER ======== */
}
#main-nav .big-nav a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 18%;
}
#main-nav .big-nav .big-nav__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
#main-nav .big-nav .big-nav__item .big-nav__item--icon {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #32a1d8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-nav .big-nav .big-nav__item .big-nav__item--icon i {
  font-size: 30px;
  color: #32a1d8;
}
#main-nav .big-nav .big-nav__item .big-nav__item--name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #40404c;
  margin-top: 20px;
}
#main-nav .big-nav .big-nav__item .big-nav__item--line {
  width: 70px;
  height: 3px;
  background: #32a1d8;
  margin: 20px 0;
}
#main-nav .big-nav .big-nav__item .big-nav__item--desc {
  font-size: 13px;
  color: #7e7e88;
}
#main-nav .big-nav .big-nav__item:hover {
  background: #32a1d8;
}
#main-nav .big-nav .big-nav__item:hover .big-nav__item--icon {
  border: 2px solid #fff;
}
#main-nav .big-nav .big-nav__item:hover .big-nav__item--icon i {
  color: #fff;
}
#main-nav .big-nav .big-nav__item:hover .big-nav__item--name,
#main-nav .big-nav .big-nav__item:hover .big-nav__item--desc {
  color: #fff;
}
#main-nav .big-nav .big-nav__item:hover .big-nav__item--line {
  background: #fff;
}
#news .news-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  padding: 50px 0;
}
#news .news-wrap .news-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  margin-bottom: 50px;
}
#news .news-wrap .news-item .news-item__details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#news .news-wrap .news-item .news-item__details .news-item__details--row {
  margin-right: 20px;
  font-size: 11px;
  color: #7e7e88;
}
#news .news-wrap .news-item .news-item__details .news-item__details--row i {
  margin-right: 5px;
  color: #32a1d8;
}
#news .news-wrap .news-item .article {
  padding: 10px 0;
  margin: 20px 0;
  border-top: 1px solid rgba(126,126,136,0.3);
  border-bottom: 1px solid rgba(126,126,136,0.3);
}
#news .news-wrap .news-item .article .article__image {
  display: none;
}
#news .news-wrap .news-item .article .article__image.photo1 {
  display: block;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: url("../img/news-bg.jpg") center no-repeat;
  background-size: cover;
}
#counselling .counselling-wrap {
  padding: 50px 0;
}
#books .books-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0;
}
#books .books-wrap a {
  width: 23%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#books .books-wrap a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 10;
}
#books .books-wrap .books-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 40px;
}
#books .books-wrap .books-item .books-item__img {
  overflow: hidden;
  margin-bottom: 20px;
  width: 100px;
  height: 150px;
  background: url("../img/books/book.png") no-repeat bottom;
  background-size: 80px !important;
/* List of Books */
/* List of Magazines */
}
#books .books-wrap .books-item .books-item__img.book1 {
  background: url("../img/books/kako-do-gosta.png") no-repeat bottom;
}
#books .books-wrap .books-item .books-item__img.book2 {
  background: url("../img/books/kako-urediti-apartman.png") no-repeat bottom;
}
#books .books-wrap .books-item .books-item__img.book3 {
  background: url("../img/books/mvp.png") no-repeat bottom;
}
#books .books-wrap .books-item .books-item__img.book4 {
  background: url("../img/books/vodic.png") no-repeat bottom;
}
#books .books-wrap .books-item .books-item__img.magazine1 {
  background: url("../img/books/brac2015.png") no-repeat bottom;
}
#books .books-wrap .books-item .books-item__img.magazine2 {
  background: url("../img/books/brac2016.png") no-repeat bottom;
}
#books .books-wrap .books-item .books-item__img.magazine3 {
  background: url("../img/books/split2016.png") no-repeat bottom;
}
#books .books-wrap .books-item .books-item__price {
  font-size: 14px;
  font-weight: 400;
  color: #32a1d8;
}
#books .books-wrap .books-item .books-item__price.old {
  color: #d0011b;
  font-size: 10px;
  text-decoration: line-through;
  margin-top: 5px;
}
#books .books-wrap .books-item .books-item__line {
  width: 70px;
  height: 3px;
  background: #32a1d8;
  margin: 20px 0;
}
#books .books-wrap .books-item .books-item__desc {
  font-size: 12px;
  color: #7e7e88;
  text-align: center;
}
#contact div,
#contact p,
#contact span {
  color: #898989;
}
#contact a {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#contact a:hover {
  color: #32a1d8;
}
#contact i {
  width: 30px;
  text-align: center;
  margin-right: 10px;
  color: #32a1d8;
  font-size: 16px;
}
#contact .contact-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  background: #151f2b;
  padding-top: 100px;
}
#contact .contact-top {
  padding-bottom: 30px;
  font-size: 14px;
}
#contact .contact-top .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#contact .contact-top .about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
}
#contact .contact-top .about .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 20px;
}
#contact .contact-top .about .info .info-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 30px;
}
#contact .contact-top .about ul {
  padding-top: 20px;
}
#contact .contact-top .contacts .contacts__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 30px;
}
#contact .contact-top .contacts .contacts__item .contacts__item--image {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 3px solid #fff;
  background-size: 100px !important;
  margin-right: 10px;
}
#contact .contact-top .contacts .contacts__item .contacts__item--image.anamarija {
  background: url("../img/anamarija.png") no-repeat center;
}
#contact .contact-top .contacts .contacts__item .contacts__item--image.meri {
  background: url("../img/meri.png") no-repeat center;
}
#contact .contact-top .contacts .contacts__item .contacts__item--content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
}
#contact .contact-top .contacts .contacts__item .contacts__item--content .contacts-name {
  text-transform: capitalize;
  font-size: 16px;
  padding-bottom: 16px;
  color: #fff;
}
#contact .contact-top .contacts .contacts__item .contacts__item--content span {
  color: #32a1d8;
  min-width: 45px;
  display: inline-block;
}
#contact .contact-bot {
  background: #0c1218;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
#contact .contact-bot .copyright-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
}
#contact .contact-bot .copyright-wrap .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#contact .contact-bot .copyright-wrap .social a:hover i {
  color: #fff;
}
#contact .contact-bot .copyright-wrap .social a i {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 16px;
}
#contact .contact-bot .copyright-wrap .copyright {
  font-size: 14px;
  color: #40404c;
}
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.6);
  z-index: 100;
}
.popup .dialog {
  background: #fff;
  -webkit-box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
  width: 300px;
  height: 200px;
}
.popup .dialog .dialog__close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.popup .dialog .dialog__close .btn-close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: rgba(126,126,136,0.3);
}
.popup .dialog .dialog__close .btn-close:hover {
  color: #7e7e88;
}
.popup .dialog .dialog__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 30px 30px 30px;
}
.popup .dialog .dialog__desc {
  color: #32a1d8;
  font-size: 16px;
  font-weight: 100;
}
.popup .dialog .dialog__input input {
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  outline: none;
  border: 1px solid rgba(126,126,136,0.3);
  margin: 20px 0;
  font-size: 14px;
  font-weight: 100;
}
.popup .dialog .dialog__button {
  text-align: center;
  margin-top: 6px;
}
html,
body,
div,
table,
p,
input {
  color: #40404c;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #fff;
}
