/* GLOBAL ======================================= */

/* variables & mixins */
@import 'global/variables'
@import 'global/mixins'
@import 'global/colorPalete'

/* overwrites ========================== */
body
	font-size: 13px
	padding: 0
	margin: 0

img
	border: none
	max-width: 100%
	height: auto

ul,
li
	margin: 0
	padding: 0
	list-style-type: none

a
	text-decoration: none

/* /overwrites ========================== */



.show
	display: block
.hide
	display: none !important
.desktop-hide
	display: none
.desktop-show
	display: block


section
	margin: 0 auto

section#book
	max-width: 100%
	width: 100%

.container
	max-width: 960px
	margin: 0 auto

.section-row
	width: 100%
	position: relative
	clear: both


/* H1 & H3 Headings ========================== */
h3,
h4
	font-family: font1
	margin: 0
	padding: 0

h3
	font-size: 18px
	color: colorBlue
	font-weight: 300
	padding-bottom: 20px

h4
	font-size: 14px
	color: colorWhite
	font-weight: 100
	opacity: .5


/* Button ========================== */
.btn
	margin: 0 auto
	padding: 5px 20px
	border: 1px solid colorBlue
	color: colorBlue
	background: colorWhite
	font-size: 14px
	font-weight: 100
	transition(.7s)

	&:hover
		background: colorBlue
		color: colorWhite








#bookselector {
	text-align: center;
}
#bookselector ul li {
	cursor: pointer;
	list-style: none;
	display: inline-block;
	margin-right: 16px;
}
#pageflip {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

