/* MAIN STYL ======================================= */


/* import global styl */
@import 'global'

/* import all sections styl */
@import 'sections/book'
@import 'sections/main-nav'
@import 'sections/contact'




html, body, div, table, p, input
	color: colorDarkGray
	font-family: font1

body
	background-color: colorWhite













