/* BOOK.STYL ================================ */

/* overwtite */
#pf-stage
    background: colorBlue !important

#pageflip
    flex-grow: 1
    height: 100vh

#book
    background: colorBlue

.book-wrap
    flexbox()
    flex-flow: row nowrap


/* Bookshelf ================ */
#bookselector
    flexbox()
    flex-flow: column nowrap
    flex-center()
    width: 280px
    flex-shrink: 0

    ul.shelf
        padding-bottom: 30px

    
    ul.shelf::after
        display: block
        content: ''
        width: 260px
        height: 40px
        background: url(../img/bookshelf2.png) no-repeat center
        background-size: 260px

    .shelf li
        display: inline-block
        width: 100px
        height: 150px
        margin: 0 10px -20px 10px
        background: url(../img/books/book.png) no-repeat bottom
        background-size: 80px !important
        transition(1s)
        color: colorWhite

        &:hover
            transform-scale(1.2)

    .shelf li.book1
        background: url(../img/books/kako-do-gosta.png) no-repeat bottom
    .shelf li.book2
        background: url(../img/books/kako-urediti-apartman.png) no-repeat bottom
    .shelf li.book3
        background: url(../img/books/mvp.png) no-repeat bottom
    .shelf li.book4
        background: url(../img/books/vodic.png) no-repeat bottom




/* LAST PAGE ==================== */

.last-page
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

    .last-page-wrap
        text-align: center
        font-size: 20px
        font-weight: 300
        position: absolute
        width: 100%
        height: 100%
        box-sizing()
        padding: 130px 90px
        background: rgba(255, 255, 255, 0.9)





/* NEWSLETTER ==================== */

.newsletter
    position: relative
    margin-bottom: 70px
    width: 250px

    .newsletter__text
        color: colorWhite
        font-size: 14px
        font-weight: 100
        margin-bottom: 10px

    .newsletter__input
        & input
            outline: none
            box-sizing()
            padding: 5px

        & input[type="text"]
            background: colorWhite
            border: 1px solid colorWhite
            color: colorGray
            width: 180px
            margin-right: 5px
        
        & input[type="button"]
            background: colorGreen
            border: 1px solid colorGreen
            color: colorWhite
            transition(.5s)
            cursor: pointer

            &:hover
                border: 1px solid colorWhite





