/* BOOKS.STYL ================================ */

#books
    background-color: colorBlue

#books .books-wrap
    flexbox()
    flex-flow: row wrap
    justify-content: space-between
    align-items: flex-start
    padding: 50px 0






/* BOOKS ITEM */
#books .books-wrap a
    width: 23%
    transition(1s)

    &:hover
        transform-scale(1.2)
        z-index: 10

#books .books-wrap .books-item
    flexbox()
    flex-flow: column nowrap
    align-items: center
    margin-bottom: 40px

    .books-item__img
        overflow: hidden
        margin-bottom: 20px
        width: 100px
        height: 150px
        background: url(../img/books/book.png) no-repeat bottom
        background-size: 80px !important

        /* List of Books */
        &.book1
            background: url(../img/books/kako-do-gosta.png) no-repeat bottom
        &.book2
            background: url(../img/books/kako-urediti-apartman.png) no-repeat bottom
        &.book3
            background: url(../img/books/mvp.png) no-repeat bottom
        &.book4
            background: url(../img/books/vodic.png) no-repeat bottom
        
        /* List of Magazines */
        &.magazine1
            background: url(../img/books/brac2015.png) no-repeat bottom
        &.magazine2
            background: url(../img/books/brac2016.png) no-repeat bottom
        &.magazine3
            background: url(../img/books/split2016.png) no-repeat bottom
        




    .books-item__name
        text-align: center
        font-size: 14px
        font-weight: 400
        // color: colorBlue
        color: colorWhite
        
        &.old
            color: colorRed
            font-size: 10px
            text-decoration: line-through
            margin-top: 5px


    .books-item__line
        width: 70px
        height: 3px
        // background: colorBlue
        background: colorWhite03
        margin: 20px 0

    .books-item__desc
        font-size: 12px
        // color: colorGray
        color: colorWhite07
        text-align: center
