/* BOOK.STYL ================================ */

/* overwtite */
#pf-stage
    background: colorBlue !important

#pageflip
    flex-grow: 1
    height: 100vh


.book-wrap
    flexbox()
    flex-flow: row nowrap
    background: colorBlue


/* Bookshelf ================ */
#bookselector
    flexbox()
    flex-flow: column nowrap
    flex-center()
    width: 280px
    flex-shrink: 0

    ul.shelf
        padding-bottom: 30px

    
    ul.shelf::after
        display: block
        content: ''
        width: 260px
        height: 40px
        background: url(../img/bookshelf2.png) no-repeat center
        background-size: 260px

    .shelf li
        display: inline-block
        width: 100px
        height: 190px
        margin: 0 10px -15px 10px
        background: url(../img/book.png) no-repeat bottom
        background-size: 80px
        transition(1s)
        color: colorWhite

        &:hover
            transform-scale(1.1)




/* LAST PAGE ==================== */

.last-page
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: colorWhite !important
    box-sizing()
    padding: 30px

    .last-page-wrap
        text-align: center
        font-size: 16px
        font-weight: 300


