/* CONTACT.STYL ================================ */
#contact
	/* text color */
	div, p, span
		color: colorGrayNew
	
	/* links */
	a
		color: colorWhite
		transition(0.5s)
		
		&:hover
			color: colorBlue

	/* fontawsome icons */
	i
		width: 30px
		text-align: center
		margin-right: 10px
		color: colorBlue
		font-size: 16px

	.contact-wrap
		flexbox()
		flex-flow: column nowrap
		background: colorDarkBlue
		padding-top: 100px


/* Contact Top */
#contact .contact-top
	padding-bottom: 30px
	font-size: 14px

	.container
		flexbox()
		flex-flow: row nowrap
		justify-content: space-between
		

	.about
		flexbox()
		flex-flow: column nowrap
		
		.info
			flexbox()
			flex-flow: column nowrap
			padding-top: 20px
		
			.info-row
				flexbox()
				flex-flow: row nowrap
				align-items: center
				height: 30px


		ul
			padding-top: 20px


	.contacts
		.contacts__item
			flexbox()
			flex-flow: row nowrap
			padding-bottom: 30px

			.contacts__item--image
				width: 100px
				height: 100px
				border-radius(100%)
				border: 3px solid colorWhite
				background-size: 100px
				margin-right: 10px

				&.anamarija
					background: url(img/anamarija.png) no-repeat center

				&.meri
					background: url(img/meri.png) no-repeat center

			.contacts__item--content
				flexbox()
				flex-flow: column nowrap

				.contacts-name
					text-transform: capitalize
					font-size: 16px
					padding-bottom: 16px
					color: colorWhite

				span
					color: colorBlue
					min-width: 45px
					display: inline-block

				


/* Contact Bot */
#contact .contact-bot
	background: colorDarkerBlue
	height: 80px
	flexbox()
	align-items: center

	.copyright-wrap
		flexbox()
		flex-flow: row nowrap

		.social
			flexbox()
			flex-flow: row nowrap
			justify-content: space-between

			a:hover i
				color: colorWhite
			a i
				transition(.5s)
				font-size: 16px


		.copyright
			font-size: 14px
			color: colorDarkGray










