/* COUNSELLING.STYL ================================ */

#counselling .counselling-wrap
    padding: 100px 0

    ul
        padding-bottom: 10px
        
        li
            list-style-type: circle
            line-height: 2
            margin-left: 20px