/* NEWS.STYL ================================ */

#news .news-wrap
    flexbox()
    flex-flow: column nowrap
    padding: 50px 0



#news .news-wrap .news-item
    flexbox()
    flex-flow: column
    margin-bottom: 50px


    .news-item__details
        flexbox()
        flex-flow: row nowrap
        align-items: center

        .news-item__details--row
            margin-right: 20px
            font-size: 11px
            color: colorGray
        
            & i
                margin-right: 5px
                color: colorBlue

    .article
        padding: 10px 0
        margin: 20px 0
        border-top: 1px solid colorGray03
        border-bottom: 1px solid colorGray03

        .article__image
            display: none

        .article__image.photo1
            display: block
            width: 100%
            height: 300px
            overflow: hidden
            background: url(../img/news-bg1.jpg) center no-repeat
            background-size: cover
        
        .article__text
            line-height: 1.7