/* TOP-NAV.STYL ================================ */

#top-nav
    position: relative
    width: 100%
    background: colorWhite
    box-shadow(0 0 10px rgba(0, 0, 0, 0.5))
    z-index: 20

#top-nav .logo-wrap
    flexbox()
    flex-flow: column nowrap
    justify-content: center
    
    .company-logo
        position: relative
        width: 90px

    .top-nav
        height: 40px

        ul
            flexbox()
            flex-flow: row wrap
            justify-content: center
            align-items: center
            height: 100%

            li
                height: 100%

        a
            flexbox()
            flex-center()
            text-transform: uppercase
            box-sizing()
            padding: 0 15px
            color: colorDarkGray
            background: colorWhite
            transition(.7s)
            height: 100%

            &:hover,
            &.active
                color: colorWhite
                background: colorBlue
                border-top-left-radius(10px)
                border-top-right-radius(10px)




/* Mobile nav */
.mobile-nav-wrap
    .mobile-nav-icon,
    .nav-close
        width: 50px
        height: 50px
        flexbox()
        flex-center()
        font-size: 26px
        color: colorGray

    .nav-close
        margin: 0 30px 0 auto
        color: colorWhite


    .mobile-nav
        position: fixed
        width: 80%
        height: 100vh
        top: 0
        right: -80%
        background: colorBlue
        flexbox()
        flex-flow: column nowrap
        box-sizing()
        padding: 10% 0 0 15%
        box-shadow(0 0 20px colorBlack06)
        transition(0.5s)

        &.active
            right: 0


        ul
            margin-top: 30px

            li
                margin-bottom: 25px

                a
                    color: colorWhite
                    font-size: 26px
                    font-weight: 300




