/* COLOR PALETE ======================================= */

color0 = transparent
colorBlack = #000
colorWhite = #fff

colorDarkGray = #40404C

colorBlue = #3797dd
colorDarkBlue = #151F2B
colorDarkerBlue = #0c1218

colorGray = #7E7E88
colorLightGray = #B0B0BA

colorGrayNew = #898989

colorGreen = #6ABF21
colorRed = #D0011B

